<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<form  th:action="@{/items/saveItem}" method="post" th:object="${newItem}">
        <table>

        <tr>
            <td> Item  </td>
            <td><input type="text" class="form-control" placeholder="Give item name" name="name" th:value="*{name}"/></td>
            <td> Passport  </td>
            <td> <input type="checkbox" class="form-control" name="name" th:value="*{name}"/></td>


        </tr>


        </table>
        <button type="submit">Save new Item</button>
    </form>
</body>
</html>