<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista rzeczy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>

<body>
<div class="container">
    <table class="table">
        <thead>
        <th>Item1</th>
        <th>Item2</th>
        <th>Item3</th>
        </thead>
        <tbody>
        <tr th:each="item : ${itemList}">
            <td th:text="${item.name}">NVM</td>
            <!--<td th:text="${uzytkownik.firstName}">Szymon</td>-->
            <!--<td th:text="${uzytkownik.surname}">Dembek</td>-->
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/myUsers/add}">New item</a>
</div>
</body>
</html>